<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <% if(user) { %>
    <div id="loggedin-container">
      <h3>Let's be real...</h3>
      <p>people be talkin' too much</p>
      <h3>The "Rules"</h3>
      <ol>
        <li>There is none</li>
      </ol>
    </div>
  <% } else { %>  
  <div id="index-login-container">
    <p>WELCOME TO</p>
    <h1>Hush Hush 🤫</h1>
    <h3>[ We strive on minding our own business ]</h3>
  </div>
  <div id="terms-container">
  <p>By logging in you accept our TERMS and CONDITIONS</p>
  <p id="last-p">The TERMS yo: <br>basically you just can't talk about the site to the wrong people. Kind of like fight club, ya feels?</p>
  </div>
  <% } %> 
</main>

<%- include('./partials/footer') %>
