html {
  box-sizing: border-box
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

body {
  background-color: #ffd166;
  /* Use a system font, if none are available use an available sans-sarif font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: #118ab2;
  padding: 25px;
  width: 100%;
  border: solid 6px #06d6a0
}

nav > a {
  margin-right: 5px;
  
}


#index-login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #073b4c;
  color: #ef476f
}

#terms-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 20px;
  font-size: 12px;
}

#last-p {
  font-size: 8px;
}

/* main {
  display: flex;
  align-items: center;
  justify-content: center;
} */

h1 {
  text-align: center;
  font-size: 5vw;
}

#index-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around;
  align-items: center; */
  width: 20vw;
}

#exercise-card {
  background-color: blue;
  color: #fff;
  /* flex-grow: 1; */
  /* flex-basis: auto; */
  margin: 5px;
  
}