<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>


<!-- <section>
  <% if (isSelf) { %>
  <h1>Edit yo Post</h1>

</section> -->
















<%- include('../partials/footer') %>